<!-- @(#)$Id: catalog_instructions.tt 1018 2010-06-26 01:13:09Z pjf $ -->
<p>
  Select a catalog from the popup list at the bottom
  of the screen. Change the display options to alter its appearance.
</p>
<p>
  Click on the subject headings to expand/collapse the list of links in
  that collection. Scroll through the list of links for that subject.
  Follow the links to access the different pages within the subject
</p>
