[%# @(#)$Id: mealMaster.tt 347 2008-02-15 16:12:00Z pjf $ -%]
MMMMM----- Recipe via Meal-Master (tm) v8.05

      Title: [% title %]
 Categories: [% categories.sort.join(', ') %]
      Yield: [% yield %]

[% FOREACH ingredient IN ingredients -%]
[% ingredient.quantity.sprintf('%7.7s') -%]
 [% ingredient.measure.sprintf('%-2.2s') -%]
 [% ingredient.product.sprintf('%-29.29s') %]
[% END -%]

[% directions %]

MMMMM

