/* @(#)$Id: presentation.css 570 2008-12-14 02:41:21Z pjf $ */

/*  Elements */

body {
   margin:1px 0 0;
   font:normal 11px Arial, Helvetica, Sans-serif;
   color:#666;
   padding: 20px 356px 20px 356px;
   text-align: center;
}
br {}
fieldset {}
html {
   margin: 0;
   padding: 0;
}
img {}
legend {}
pre {}
textarea {}

/* Classes */

.bigger {}
.centre {}
.error {}
.heading {}
.hidden {}
.info {}
.instructions {}
.left {}
.minimal {}
.mono {}
.most {}
.note {}
.nowrap {}
.quickLinkSep {}
.rule {}
.separator {}
.small {}
.smaller {}
.some {}
.source {}
.subheading {}
.warning {}

/* Anchors */

a.headerFade {}
a.libraryFade {}
a.libraryFade:hover {}
a.libraryHeaderFade {}
a.librarySubHeader {}
a.linkFade {}
a.linkFade:hover {}
a.searchFade {}
a.toolWidget {}

/* Divs */

div.appendItem {}
div.appendItem label.prompt {}
div.button {}
div.clearLeft {}
div.container {}
div.footerItem {}
div.grid_container {}
div.iFrameItem {
   border: 3px solid red;
   text-align:left;
   background:#FFF url(container_bg.gif) repeat-y top left;
   padding:0;
   margin: 0 -356px 0 -356px;
   position: relative;
}
div.iFrameItem input, password, select, textarea {}
div.iFrameItem input.required, password.required, select.required, textarea.required {}
div.iFrameItem legend {}
div.iFrameHeading {}
div.libraryHeader {}
div.libraryPanel {}
div.librarySubject {}
div.narrow {}
div.paraColumn {}
div.sideBarContent {}
div.sideBarHeader {}
div.sideBarHeader:hover {}
div.sideBarHeaderFirst {}
div.sideBarPanel {}
div.tools {}
div.tree {}
div.treeContainer {}
div.treeItem {}
div.treeItem a.treeFade {}
div.treeItem a.treeFade:hover {}
div.treeItem img.treeIcon {}

/* Headers */

h1.split {}
h1.split span {}
h1.split:before {}

/* Horizontal Rules */

hr.footer {}

/* Images */

img.libraryHeader {}
img.tools {}

/* Labels */

label.prompt {}

/* Select menus */

select.group {}

/* Spans */

span.dropcap {}
span.error {}
span.help {}
span.label {}
span.lineNumber {}
span.prompt {}
span.textarea {}
span.title {}

/* Tables */

table.form {}
table.recipe {}
table.recipe td {}
table.std {}
td.csv {}
td.first {}
td.fixed {}
td.grid_cell {}
td.lineNumber {}
th.first {}
th.grid_header {}
th.select {}
th.table {}
tr.dataValue{}
tr.grid {}
tr.logfile {}

/* Named elements */

#append {}
#bookmark {}
#body {
	border: 3px solid green;
	padding: 20px 356px 20px 356px;
	text-align: center;
}
#buttonDisp {}
#buttonList {}
#content {}
#footerDisp {}
#footer {}
#footerLeft {}
#footerLogo {}
#footerMid {}
#footerRight {}
#footerRule {}
#footerRule td {}
#headerBottom {}
#headerDisp {}
#headerQuickLinks {}
#headerSubTitle {}
#headerTitle {}
#headerTop {}
#iFrameDisp {
	border: 3px solid blue;
	margin: 0 auto 0 auto;
	padding: 20px 0 20px 0;
}
#companyLogo {}
#sideBar {}
#sideBarDisp {}
#sideBarFill {}
#sideBarGrippy {}

/* Flyover tool tips */

div.tool-tip { color: #fff; z-index: 13000; }
td.tool-tip-topLeft { background: url(bubble.png) top left; }
td.tool-tip-topLeft span {
   color: #9FD4FF; display: block;
   font-weight: bold; font-size: 14px; padding: 8px 0px 4px 16px;
}
td.tool-tip-topRight { background: url(bubble.png) top right; }
td.tool-tip-topRight span {
   color: #9FD4FF; display: block;
	font-weight: bold; font-size: 14px; padding: 8px 8px 4px 8px;
}
td.tool-tip-bottomLeft { background: url(bubble.png) bottom left; }
td.tool-tip-bottomLeft span {
   display: block; font-size: 14px; padding: 4px 0px 16px 16px;
}
td.tool-tip-bottomRight { background: url(bubble.png) bottom right; }
td.tool-tip-bottomRight span {
   display: block; font-size: 14px; padding: 4px 8px 16px 8px;
}

/* Navigation menu and tools menu */

#sideBarCap {
   border-top: 5px solid #663; border-bottom: 1px solid #336;
   height: 20px; padding: 1px 0px 4px 0px; position: absolute;
}
#sideBarImg {
   height: 17px; padding: 3px 5px 4px 10px; width: 17px;
}
#sideBarImg:hover { cursor: pointer; }
#navigation {
   display: table-row; height: 31px; left: 32px;
	position: absolute; right: 0px;
}
div.navigationMenu {
   display: table-cell; height: 31px;
}
div.navigationFiller {
   display: table-cell; height: 31px; vertical-align: top; width: 99%;
}
div.navigationTools {
   height: 31px; position: absolute; right: 100px; vertical-align: top;
   width: 72px; z-index: 3;
}
span.navigationFiller {
   border-top: 1px solid transparent; border-bottom: 1px solid #336;
   display: block; font-size: 0.66em; height: 19px;
   margin: 0px; padding: 1px 0px 4px 0px;
}
#menu {
   display: table-row; list-style-type: none; margin: 0px;
   padding: 0px; white-space: nowrap;
}
#menu li { display: table-cell; vertical-align: middle; }
#menu dl { position: absolute; margin: 0px; padding: 0px; top: 30px; }
#menu dt { margin: 0px; padding: 0px; }
#menu dd { clear: left; display: none; margin: 0px; padding: 0px; }
#menu li:hover dd, #menu li a:hover dd { display: block; }
#menu li a.menuTitleFade {
   border-top: 1px solid transparent; border-bottom: 1px solid #336;
   border-left: 1px solid transparent; border-right: 1px solid transparent;
   display: block; font-size: 0.83em; height: 19px;
   padding: 1px 1em 4px 1em; text-align: center; text-decoration: none;
   white-space: nowrap;
}
#menu li a.menuTitleFade:hover { display: block; }
#menu li a.menuSelectedFade {
   border-bottom: 1px solid transparent; border-left: 1px solid #336;
   border-right: 1px solid #336; border-top: 1px solid transparent;
   display: block; font-size: 0.83em; font-weight: bold; height: 19px;
   padding: 1px 1em 4px 1em; text-align: center; text-decoration: none;
   white-space: nowrap;
}
#menu li a.menuSelectedFade:hover { display: block; }
#menu li a.menuLinkFade {
   border-bottom: 1px solid transparent; border-left: 1px solid #336;
   border-right: 1px solid #336; border-top: 1px solid transparent;
   display: block; font-size: 0.83em; height: 19px;
   padding: 1px 1em 4px 1em; text-align: center; text-decoration: none;
   white-space: nowrap;
}
#menu li a.menuLinkFade:hover { display: block; }
#tools {
   display: table-row; list-style-type: none; margin: 0px; padding: 0px;
   width: 72px;
}
#tools li { display: table-cell; }
#tools li:hover dd, #tools li a:hover dd { display: block; }
#tools dl { position: absolute; margin: 0px; padding: 0px; top: 30px; }
#tools dt { margin: 0px; }
#tools dd {
   background: transparent; clear: left; display: none;
   margin: 0px; padding: 0px;
}
#tools li a.toolsSelectedFade {
   border-bottom: 1px solid transparent; border-left: 1px solid #336;
   border-right: 1px solid #336; border-top: 1px solid transparent;
   display: block; font-size: 0.66em; height: 20px; line-height: 20px;
   padding: 0px 0.25em 4px 0.25em; text-align: center; text-decoration: none;
   white-space: nowrap;
}
#tools li a.toolsSelectedFade:hover { display: block; }
#tools li a.toolsTitleFade {
   border-bottom: 1px solid #336; border-left: 1px solid transparent;
   border-right: 1px solid transparent; border-top: 1px solid transparent;
   display: block; font-size: 0.66em; height: 20px; line-height: 20px;
   padding: 0px 2px 4px 2px; text-align: center; text-decoration: none;
   white-space: nowrap;
}
#tools li a.toolsTitleFade:hover { display: block; }
#tools li a.toolsLinkFade {
   border-bottom: 1px solid transparent; border-left: 1px solid #336;
   border-right: 1px solid #336; border-top: 1px solid transparent;
   clear: left; display: block;
   font-size: 0.66em; height: 19px;
   padding: 1px 1em 4px 1em; text-align: center; text-decoration: none;
   white-space: nowrap;
}
#tools li a.toolsLinkFade:hover { display: block; }

/* Rounded corners in menu */

b.pad {
   display: block; height: 5px; margin: 0px; padding: 0px;
}
b.bottom {
   display: block; font-size: 1px; height: 5px;
   margin: 0px; padding: 0px;
}
b.top {
   display: block; height: 5px;
   margin: 0px; padding: 0px; position: relative;
}
b.left {
   display: block; font-size: 1px; position: absolute;
}
b.right {
   display: block; font-size: 1px; position: absolute; right: 0px; top: 0px;
}
b.b1, b.b2, b.b3, b.b4 {
   display: block; overflow: hidden;
}
b.tl1, b.tl2, b.tl3, b.tl4, b.tr1, b.tr2, b.tr3, b.tr4 {
   display: block; overflow: hidden;
}
b.b1, b.b2, b.b3, b.tl1, b.tl2, b.tl3, b.tr1, b.tr2, b.tr3 {
   height: 1px;
}
b.b2, b.b3, b.b4 {
   border-left: 1px solid #336; border-right: 1px solid #336;
}
b.tl2, b.tl3, b.tl4 {
   border-right: 1px solid #336;
}
b.tr2, b.tr3, b.tr4 {
   border-left: 1px solid #336;
}
b.b1 {
   margin: 0px 5px;
}
b.tl1 {
   margin: 0px; border-right: 1px solid #336;
}
b.tr1 {
   margin: 0px; border-left: 1px solid  #336;
}
b.b2 {
   margin: 0px 3px; border-width: 0px 2px;
}
b.tl2 {
   margin-right: 1px; border-width: 0px 2px 0px 0px;
}
b.tr2 {
   margin-left: 1px; border-width: 0px 0px 0px 2px;
}
b.b3 {
   margin: 0px 2px;
}
b.tl3 {
   margin-right: 2px;
}
b.tr3 {
   margin-left: 2px;
}
b.b4 {
   margin: 0px 1px; height: 2px;
}
b.tl4 {
   margin-right: 3px; height: 2px;
}
b.tr4 {
   margin-left: 3px; height: 2px;
}

/* The main calendar widget.  DIV containing a table. */

div.calendar {
	margin-left: -16px; position: relative; z-index: 50;
}

.calendar, .calendar table {
  border: 1px solid #336;
  font-size: 11px;
  cursor: default;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
  font-size: 90%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  padding: 2px;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #336;
  padding: 2px;
  text-align: center;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  border: 1px solid #336;
  padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #336;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
}

.calendar tbody td.today {
	font-weight: bold;
}

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  padding: 2px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border: 1px solid #084;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #336;
  font-size: 90%;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .active {
  border-top: 1px solid #6a4;
  border-bottom: 1px solid #6a4;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #336;
  padding: 1px 0px;
  text-align: center;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #336;
  font-weight: bold;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
}

.calendar td.time span.active {
  border-color: #f00;
}
