<!--
@(#)$Id: custom.tt 720 2009-06-06 17:21:46Z pjf $
-->
<div class="narrow">
   <h3>Custom Template Demonstration</h3>
   <span class="comment">Append &quot;/number&quot; to the URI to change the
   number of paragrahs</span>
   <span class="info">
      <p>[% c.model( 'DemoText' ).lorem( count ) %]</p>
   </span>
   [% self = '' %]
   <span class="comment">
      Localisation test [% self.loc( 'File [_1] not found', 'dummy' ) %]
   </span>
</div>